.login-form {
    margin: 220px auto;
    width: 350px;
    font-size: 15px;
}


.login-form form {
    margin-bottom: 15px;
    background: #f7f7f7;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
}

.login-form h2 {
    margin: 0 0 15px;
}

#input-data {
    width: 300px;
}

.btn {
    font-size: 15px;
    font-weight: bold;
}

#main {
    margin: 20px 400px;
    width: 1100px;
}

.table, #buttons, #header {
    margin-top: 20px;
}

#person {
    padding-left: 430px;
}


.container {
    display: flex;
    max-height: 100px;
    padding: 12px 12px;
    border-top: 1px solid #e8e9eb;
    margin-bottom: 5px;
}

#new-mail p{
    font-weight: bold;
}

#new-mail span{
    font-weight: normal;
}

.text, .checkbox {
    flex: 1;
    padding-right: 12px;
}

#new-mail {
    background-color: #ebebeb;
    margin: 150px auto;
    border: 1px solid black;
    border-radius: 10px;
    width: 1000px;
}

#mail-form {
    margin: 80px auto;
    width: 800px;
}

#mail-form a {
    float: right;
}

#mail-form textarea {
    resize: none;
    height: 10em;
}

#mail-receiver, #mail-theme, #mail-text {
    margin-bottom: 10px;
}
.error {
    color: red;
    float: right;
}


