<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Access denied</title>
    <link rel="icon" type="image/png" th:href="@{/images/favicon.ico}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
<div class="container">

    <div style="text-align: center; margin-top: 250px">
        <h1>403 - Access is denied</h1>
        <h3>Go back to <a th:href="@{/login}">login</a></h3>
    </div>

</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</body>
</html>